html2text
aiohttp
beautifulsoup4
requests
urllib3
playwright~=1.42.0
newspaper3k
selenium
chromedriver-autoinstaller
spider-client
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
